.list {
  width: 95%;
}

.paper {
  height: 80vh;
  max-width: 500px;
  overflow: auto;
  margin-top: 15px;
}

.input {
  width: 500px;
  height: 50px;
}

.no-results {
  display: flex;
  justify-content: center;
}
