.list {
  width: 95%;
}

.paper {
  max-height: 500px;
  max-width: 500px;
  overflow: auto;
}

.input {
  width: 500px;
  height: 50px;
}

.no-results {
  display: flex;
  justify-content: center;
}
